.answer-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.answer-box {
  align-items: center;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: space-between;
  margin: 25px;
  outline: 0;
  width: 40%;
}

.answer-box:disabled {
  height: 150px;
  width: 40%;
}

.answer-box:hover {
  cursor: pointer;
}

.background-0, .background-0:disabled {
  background-color: #ff9914;
}

.background-1, .background-1:disabled {
  background-color: #f21b3f;
}

.background-2, .background-2:disabled {
  background-color: #1AB502;
}

.background-3, .background-3:disabled {
  background-color: #824ab9;
}

.correct {
  border: 3px solid #0E6C00;
}

.wrong {
  border: 3px solid #880E22;
}

.message {
  font-size: 28px;
}

.imgAnswer {
  width: 32px;
}
