.footer-background {
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  position: fixed;
  /* top: 80px; */
  bottom: 0;
  z-index: 10;
}
.footer-container {
  background-color: rgb(176, 33, 34);
  border-radius: 30px 30px 0 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 6px 7px;
  width: 340px;
}

.header-circle-img {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.footer-img {
  width: 25px;
}
