.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0;
  width: 1000px
}

.filter-content {
  background-color: rgb(20, 20, 20);
  border-style: solid;
  border-color: #fde500;
  border-width: 2px;
  border-radius: 22px;
  box-sizing: border-box;
  color: #fde500;
  display: flex;
  font-size: 25px;
  margin-left: -12px;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  transition: 0.1s;
  width: 24%;
}

.filter-content:focus {
  outline: none;
}

.filter-select:active {
  border-radius: 22px 22px 0 0;
  border-bottom: none;
  transition: 0.1s;
}

.filter-value {
  text-align: right;
}

.filter-button {
  display: flex;
  justify-content: center;
  margin-right: -11px;
}

.filter-button:hover {
  background-color: rgb(253, 229, 0);
  color: rgb(20, 20, 20);
  transition: 0.1s;
}

.filter-content:hover {
  cursor: pointer;
}
