.recipe-details-background {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.recipe-details-container {
  border: solid 0.5px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 640px;
  overflow: hidden;
  width: 360px;
  z-index: 1;
}

.recipe-details-elipse {
  background-color: rgb(255, 238, 230);
  border-radius: 50%;
  position: relative;
  top: -750px;
  left: -585px;
  min-height: 1000px;
  min-width: 800px;
  z-index: 0;
}

.recipe-details-content {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  overflow-y: auto;
  /* padding: 10px; */
  min-width: 360px;
  width: 370px;
  z-index: 1;
}

.recipe-details-container-main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  /* margin-bottom: 500px; */
  padding: 0 10px;
  max-width: 360px;
}

.recipe-details-container-main-container {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 10px 0;
}

.footer-button {
  background-color: rgb(253, 3, 4);
  border: none;
  border-radius: 36px;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 50px;
  margin: 10px 0;
  outline: none;
  width: 100%;
}

.footer-button:active {
  transform: translate(1px, 2px);
}

.footer-button:focus {
  outline: none;
}
