@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.form-login-container {
  display: flex;
  margin: 0 70px;
  text-align: left;
}

.form-login-label {
  color: rgb(124, 124, 124);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.form-login-input {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: rgb(124, 124, 124);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  outline: none;
  padding: 7px;
  width: 100%;
}

.form-login-button {
  background-color: #FA92D0;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 25px;
  outline: none;
  padding: 12px;
  transition: 0.3s;
  width: 100%;
}

.form-login-button:hover {
  background-color: #1e81ceff;
  cursor: pointer;
  transition: 0.3s;
}

.form-login-button:active {
  transform: translate(2px, 2px);
  transition: 0.3s;
}

.form-login-button-exit {
  margin-top: 5px;
}

.error-container {
  display: flex;
  height: 15px;
  margin-top: 5px;
}
.error {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}