.header-container {
  color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
  margin: 0 30px;
}

.header-title {
  display: flex;
  flex-basis: 100%;
}

.header-label {
  display: flex;
}

.header-select {
  display: flex;
  /* flex-basis: 300px; */
  margin-left: 20px;
  width: 300px;
}

.header-lastUpdate {
  display: flex;
  flex-basis: 100%;
  margin-top: 20px;
}

.header-button {
  margin-left: 10px;
  padding: 0 20px;
}